body {
    background: var(--background);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    color: var(--foreground-highlight);
}

.button {
    text-decoration: none;
    color: inherit;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    /* Padding */
    --padding-xs: 4px;
    --padding-s: 8px;
    --padding-m: 12px;
    --padding-l: 16px;
    --padding-xl: 20px;

    /* Font Sizes */
    --font-size-xs: 0.875rem;
    --font-size-s: 1rem;
    --font-size-m: 1.125rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.375rem;
    --font-size-xxl: 1.625rem;

    /* Utilities */
    --round: 9999px;
    --touch-size: 48px;
}

/* Small screens (mobile) */
@media (min-width: 768px) {
    :root {
        --padding-xs: 6px;
        --padding-s: 10px;
        --padding-m: 14px;
        --padding-l: 18px;
        --padding-xl: 22px;

        --font-size-xs: 10px;
        --font-size-s: 12px;
        --font-size-m: 14px;
        --font-size-l: 16px;
        --font-size-xl: 18px;
        --font-size-xxl: 22px;

        --body-font-size: var(--font-size-s);
    }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --padding-xs: 8px;
        --padding-s: 12px;
        --padding-m: 16px;
        --padding-l: 20px;
        --padding-xl: 24px;

        --font-size-xs: 12px;
        --font-size-s: 14px;
        --font-size-m: 16px;
        --font-size-l: 18px;
        --font-size-xl: 20px;
        --font-size-xxl: 24px;

        --body-font-size: var(--font-size-m);
    }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
    :root {
        --padding-xs: 10px;
        --padding-s: 14px;
        --padding-m: 18px;
        --padding-l: 22px;
        --padding-xl: 26px;

        --font-size-xs: 14px;
        --font-size-s: 16px;
        --font-size-m: 18px;
        --font-size-l: 20px;
        --font-size-xl: 22px;
        --font-size-xxl: 26px;

        --body-font-size: var(--font-size-m);
    }
}
