:root {
  --box-shadow: 5px 5px currentColor;
  --border: 2px solid currentColor;
  --radius: 24px;
  --background: #ffffff;
  --background-highlight: #fbdd74;
  --foreground: #000;
  --foreground-highlight: #532d7f;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/Josefin.ttf");
}

.title {
}

body {
  font-family: JosefinSans;
  color: var(--foreground);
}
